@charset "utf-8";
*{
    box-sizing: border-box;
}
/*body{
    margin: ;
}*/

main  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;/*repeat (4,1)*/
    grid-template-areas: "h h h h"
    "n a a a"
    "f f f f";  
    background-color: honeydew;
}
header{
    grid-area: h;
}
nav{
    grid-area: n;
}
article{
    grid-area: a;
}
header, footer, nav, main, article{
    border: 1px solid gray;
    padding: 10px;
}
/* menu formázása*/
nav a{
    text-decoration: none;
    display: block;
    color: lightslategray;
}
nav a:hover{
color: pink;

}
/* reszponzivitás*/
main{
    text-align:justify;
    width: 80%;/*width esetén a méret*/
    max-width: 800px;
    margin: auto;
}
@media screen and (max-width: 600px){
 main{
     background-color: red;
     width: 100;

 }   
}
@media screen and (max-width: 500px){
    main{
        background-color: greenyellow;
        grid-template-columns: 1fr;/*repeat (4,1)*/
        grid-template-areas: 
        "h"
        "n"
        "a"
        "f"; 
    }   
}
    /*navigació li tagja*/
nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

